h1 {
  margin: 30px 0;
}

.body-section {
  padding: 20px 0;
}

#jumbotronContainer {
  margin-top: 20px;
}

.dogImage {
  max-width: 100%;
  height: auto
}

.catImage {
  max-width: 100%;
  height: auto
}

.vsContainer {
  display: flex;
  flex-wrap: nowrap;
}

#dogVsContainer {
  flex: 1
}

#catVsContainer {
  flex: 1
}